body {
	margin:     0 auto;
	text-align: center;
	background-color: #222;
	color: orange;
	
  font: normal normal normal 1em Palatino Linotype, Book Antiqua, Palatino, serif;
  font-weight: bold;	
}

#header h1 {
	font-size: 2em;
}

#header {
	font-size: 1.8em;
}

#content {
	font-size: 1.5em;
  height: 500px;
}

#footer {
	font-size: 1.4em;	
}

div.panel {
	text-align: left;
	margin: 0px 100px;
  padding: 10px 0px 20px 0px;
}

div.panel h2.page-title span{
	border-bottom: 3px solid orange;
}